<ngb-carousel>
    <ng-template ngbSlide *ngFor="let quizqques of questions">
        <div class="container-fluid">
            <h3 style="color: aliceblue;font-weight: bold; margin-top:10px; color: aliceblue; text-align: center;">Points : {{counter}}</h3>
            <h3 style="margin-top: 50px; margin-bottom: 70px; color: aliceblue; text-align: center;">Q{{quizqques.quesno}}. {{quizqques.ques}}</h3>
            <div style="text-align: center;">
                <button style="margin-bottom: 10px; " [ngClass]="{'blue' : toggle, 'red': !toggle}" (click)="handleClick(quizqques.ans, quizqques.choice[0])" class="btn btn-primary">{{quizqques.choice[0]}}</button><br>
                <button style="margin-bottom: 10px; " [ngClass]="{'blue' : toggle, 'red': !toggle}" (click)="handleClick(quizqques.ans, quizqques.choice[1])" class="btn btn-primary">{{quizqques.choice[1]}}</button><br>
                <button style="margin-bottom: 15%; " [ngClass]="{'blue' : toggle, 'red': !toggle}" (click)="handleClick(quizqques.ans, quizqques.choice[2])" class="btn btn-primary">{{quizqques.choice[2]}}</button><br>
            </div>
        </div>
    </ng-template>
</ngb-carousel>

